body{
    background-color: burlywood;
    background-image: url("");
    background-size: auto;
    background-repeat: no-repeat;
    margin-top: 10px;

}
.header {
    background: linear-gradient(
        90deg,
        #003366,
        #0066cc
    );

    color: #ffffff; 
    text-align: center;
    padding: 20px;
}
.section {
    background-color: rgba(255, 255, 255, 0.85); 
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    color: #003366; 
}

p {
    color: rgba(0, 0, 0, 0.8); 
  
}